* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-image: url("../sergey-zolkin-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 360px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"],
button {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  height: 40px;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #007bff; /* Link color */
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3; /* Hover color */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
  }
}
