* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", sans-serif;
}

.header {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(./background.png);
  background-position: center;
  background-size: cover;
}

.side-nav {
  width: 110px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 15px;
  background: rgba(84, 163, 242, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.5s;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  font-size: 14px;
  padding: 10px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.user div {
  display: none;
}

.user h2 {
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
}

i {
  width: 30px;
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0 15px;
}

ul li {
  margin: 50px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

ul li a {
  display: flex;
  text-decoration: none;
  color: black;
}

ul li i {
  width: 30px;
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
}

ul li p {
  white-space: nowrap;
  display: none;
}

.side-nav:hover {
  width: 250px;
}

.side-nav:hover .user div {
  display: block;
}

.side-nav:hover .user {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
}

.side-nav:hover .star-img {
  display: block;
}

.side-nav:hover .user-img {
  margin: 0;
}

.side-nav:hover ul li p {
  display: block;
}

.side-nav:hover ul li i {
  margin-right: 10px;
}

.side-nav:hover ul li {
  justify-content: flex-start;
}

.content {
  margin-left: 130px;
  padding: 20px;
  width: calc(100% - 130px);
  max-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}

.content h1,
.content h2 {
  margin-bottom: 20px;
  font-size: 3em;
}

.content p {
  margin-bottom: 40px;
  max-width: 800px;
  line-height: 1.6;
  font-size: 1.2em;
}
