.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 8px;
}
.container {
  margin-top: 20px;
}

.table-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}
