body {
  font-family: "Comic Sans MS", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h2 {
  color: #333;
}

label {
  margin-right: 10px;
}

input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

#teacherList {
  display: flex;
  flex-wrap: wrap;
}

.teacher-card {
  width: calc(33.33% - 20px);
  margin: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.teacher-card:hover {
  transform: translateY(-5px);
}

.teacher-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.teacher-card p {
  padding: 10px;
  margin: 0;
}

.subject {
  color: #007bff;
  font-weight: bold;
}
